{% extends 'layouts/default.twig' %}

{% block top %}
    {% include 'partials/topbar.twig' with {
        'title': 'group.title'|trans,
        'subtitle': 'group.subtitle'|trans,
        'img': '/img/groups.png',
    } only %}
{% endblock %}

{% block left %}
    {% include 'pages/WorkGroup/sidenav.twig' %}
{% endblock %}

{% block main %}
    <div class="groups">
        {% for group in groups %}
            {% embed 'components/field.twig' with {'title': group.name, 'classes': ['ui-padding']} %}
                {% block content %}
                    <div class="members">
                        {% for leader in group.leaders %}
                            <a class="member" href="/profile/{{ leader.id }}">
                                <img src="{{ leader.image }}" alt="{{ leader.name }}"/>
                            </a>
                        {% endfor %}
                        <div><strong>{{ 'group.admin_count'|trans({'%count%': group.leaders | length}) }}</strong></div>
                        <div>{{ 'group.member_count'|trans({'%count%': group.members | length}) }}</div>
                    </div>

                    {% if group.image %}
                        <div class="photo">
                            <a class="fancybox" href="{{ group.image }}">
                                <img src="{{ group.image }}" alt="{{ 'group.image'|trans({'%name%': group.name}) }} "/>
                            </a>
                        </div>
                    {% endif %}

                    <div class="teaser">
                        {{ group.teaser | nl2br }}
                        <p style="margin-top:15px;"><strong><a href="mailto:{{ group.email }}">{{ group.email }}</a></strong></p>
                    </div>

                    <div class="clear"></div>
                    <div class="bottom_bar">
                        {% if group.appliedFor %}
                            <div class="ui-padding">
                                {% include 'partials/info.twig' with {'msg': 'group.already_applied'|trans} only %}
                            </div>
                        {% elseif group.applicationRequirementsNotFulfilled %}
                            {{ 'group.application_requirements.not_fulfilled'|trans({'%bananas%': group.applyMinBananaCount, '%weeks%': group.applyMinFoodsaverWeeks, '%fetches%': group.applyMinFetchCount}) }}
                            <div style="margin-bottom:5px;"></div>
                        {% endif %}

                        <div class="float_right">
                            {% if group.email|length %}
                                <a class="button" href="#"
                                   onclick="ajreq('contactgroup',{id:{{ group.id }}});return false;">
                                    {{ 'group.actions.contact'|trans }}
                                </a>
                            {% endif %}
                            {% if group.mayEdit %}
                                <a class="button" href="/?page=groups&sub=edit&id={{ group.id }}">
                                    {{ 'group.actions.edit'|trans }}
                                </a>
                            {% endif %}
                            {% if group.mayAccess %}
                                <a class="button" href="/?page=bezirk&bid={{ group.id }}">
                                    {{ 'group.actions.go'|trans }}
                                </a>
                            {% endif %}
                            {% if group.mayApply %}
                                <a class="button" href="#" onclick="ajreq('apply',{id:{{ group.id }}});">
                                    {{ 'group.actions.apply'|trans }}
                                </a>
                            {% endif %}
                            {% if group.mayJoin %}
                                <a class="button" href="#" onclick="ajreq('addtogroup',{id:{{ group.id }}});">
                                    {{ 'group.actions.join'|trans }}
                                </a>
                            {% endif %}

                        </div>
                        <div class="clear"></div>
                    </div>
                {% endblock %}
            {% endembed %}
        {% else %}
            {% include 'partials/info.twig' with {'msg': 'group.no_groups'|trans} only %}
        {% endfor %}
    </div>

{% endblock %}

{% block right %}
{% endblock %}

{% block bottom %}
    {{ content.bottom.html | raw }}
{% endblock %}

